<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>{{.Subject}}</title>
</head>

<body>
  <div>
    <div style="float:left;margin:0; height:70px">
      <a href="https://git.door43.org" style="text-decoration: none;color: #333;background-color:inherit"><img src="http://git.door43.org/img/door43.png" width="64" height="64" alt="Door43" style="margin-right:.5em"/></a>
    </div>
    <div style="padding-top:10px; float:left;">
      <span style=";font-size:1.5em;font-weight:normal"><a href="://git.door43.org">Door43</a></span>
      <br/>
      <span style="font-weight: 400;margin-bottom:0;font-size:.875em">open-licensed biblical content</span>
    </div>
  </div>
  <div style="clear:both;margin-top:1em">
	<p>You are now a collaborator of this repository.</p>
	<p>
		---
		<br>
		View it on Gogs: <a href="{{.AppUrl}}{{.RepoLink}}">{{.RepoLink}}</a>
	</p>
    <p>© {{.CopyrightYear}} <a target="_blank" href="http://git.door43.org">Door43</a> - open-licensed biblical content</p>
  </div>
</body>
</html>
